:root {
  --white: #FFFF;
  --purple: #7d3e96;
  --Yellow: #ffc107;
}
html{
  font-size: 62.5%;
}
body{
  font-family: 'Opens Sans', sans-serif;
  background-image: url('../public/bg_clima.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
  font-size: 2rem;
}